PORT=3001
DATABASE_HOST=localhost
DATABASE_PORT=5433
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=chat_db
DATABASE_LOGGING=false
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=message-storage
KAFKA_GROUP_ID=message-storage
